*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility */
.float_left{
  float: left;
}
.float_right{
  float: right;
}

.bgc_orange{
  padding: 5px;
  background-color: #ff7a59;
  color: white;
  border: 1px solid;
  border-radius: 5px;
}

.big_or{
  text-decoration: none;
  padding: 15px 30px;
}

.pad{
  padding-left: 10px;
}

.pad_l{
  padding: 13px 0;
}
/* /utility */

/* header */
.header_container{
  position: relative;
  min-width: 1400px;
  height: 650px;
  color: #33475b;
  background-color: #FFF3Ef;
  margin:auto;
}

/* nav superiore */
.navbar_1_container{
  position:relative;
  top: 0;
  height: 40px;
  width: 100vw;
}

.navbar_1{
  position:fixed;
  top: 0;
  z-index: 2;
  background-color: #e5f2ff;
  height: 40px;
  width: 100vw;
  min-width: 1400px;
  line-height: 40px;
  border-bottom: 1px solid #33475b;
}

.navbar_1 > span > a{
  text-decoration: none;
}

.nav_left{
  margin-left: 15%;
}

.nav_left > span{
  padding-right: 10px;
}

.nav_right{
  position: absolute;
  right: 15%;
}

.nav_right > a, .nav_right > i{
  margin: 0 5px;
}

.fa-search{
  color: #13AAC2;
}

#vertical_rules{
  border-left: 1px solid black;
}

.bor_rd{
  padding: 5px;
  border: 1px solid orange;
  border-radius: 10px;
  color: orange;
}

/* nav inferiore */
.navbar_2{
  position: relative;
  top: 0px;
  background-color: white;
  height: 40px;
  width: 100vw;
  min-width: 1400px;
  line-height: 40px;
}

.nav_left > img{
  padding-top: 5px;
}

.navbar_2 > .nav_right > span{
  margin-right: 10px;
}

.bkg_image{
  height:602px;
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

/* testo header */
.text_header{
  margin-left: 15%;
  width: 395px;
  padding-top: 50px;
}

.text_header > h1{
  font-size: 2.5em;
  margin-bottom: 30px;
}

.text_header > div{
  margin-top: 30px;
  font-size: 0.6em;
}

/* riga verde */
.green_row{
  position: absolute;
  bottom: 0px;
  background-color: #AFEBE4;
  height: 40px;
  width: 100vw;;
  border-top: 3px solid #4b504d;
  border-bottom: 3px solid #4b504d;
}

/* main */
.com_main_container{
  position: relative;
  width: 100vw;
  background-color: #f5f8fa;
}

.main_container{
  width: 70%;
  min-width: 1019.2px;
  margin:auto;
  color: #33475b;
}

.top_section{
  position: relative;
  top: 0;
  height: 800px;
  background-color: #f5f8fa;
}

/* parte superiore del main sfondo grigio */
.no_box{
  text-align: center;
  margin: 0 110px;
  padding: 30px 0;
}

/* main box bianco rettangolare */
.top_box{
  position: relative;
  top: 0px;
  width: 100%;
  height: 250px;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.top_box_container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top_box_left{
  padding-left: 75px;
  width: 300px;
}

.top_box_left > img{
  width: 150px;
  padding: 20px 0;
}

.top_box_right{
  width: 70%;
  padding: 0px 75px;
}

h3{
  font-size: 1.8em;
}

h4{
  font-size: 1.2em;
}

.fa-check-circle{
  color: #ff7a59;
  margin: 0 10px;
}
hr{
  background-color: #33475b;
}

#rules{
  position: relative;
  bottom: 25px;
  left: 215px;
  width: 300px;
}

.top_box:after{
  content: "";
  display: table;
  clear: both;
}

/* colonne bianche */
.bottom_box{
  position: relative;
  top:0px;
  height: 400px;
  width: 100%;
  background-color: #f5f8fa;

}

.column{
  width: 30%;
  background-color: white;
  border-radius: 10px;
  margin: 50px 0;
  padding: 10px 20px;
  text-align: center;
}

.column img{
  height: 100px;
}

.column > p{
  padding-bottom: 50px;
}

.column > a{
  line-height: 70px;
}

.icon_column{
  text-align: left;
}


#central_column{
  margin: 50px 50px;
}

.se_ic_col{
  position: relative;
  bottom: 20px;
}

.th_ic_col{
  position: relative;
  bottom: 40px;
}

.main_container:after{
  content: "";
  display: table;
  clear: both;
}

/* parte centrale main */
.middle{
  position: relative;
  top: 0;
  width: 100vw;
  min-width: 1400px;
  background-image: linear-gradient(to right,#00a4bd,#00bda5);
  padding: 80px 0;
}

.middle_section{
  position: relative;
  top: 0px;
  width: 70%;
  background-image: linear-gradient(to right,#00a4bd,#00bda5);
  margin: auto;
  color: white;
  text-align: center;
}

.table{
  width: 25%;
}

#logo_marketplace{
  height: 50px;
}

.middle_section h3,.middle_section p, .middle_section img, .middle_section div{
  padding: 10px 0;
}

.numbers{
  font-size: 40px;
  font-weight: bolder;
}

.linee{
  border-bottom: 1px solid white;
}

.right_lin{
  border-right: 1px solid white;
}

/* parte inferiore main */
.bottom{
  position: relative;
  top: 0;
  width: 100vw;
  min-width: 1400px;
  background-color: white;
}

.bottom_section{
  position: relative;
  top: 0px;
  width: 70%;
  background-color: white;
  margin: auto;
}

.top_bottom:after{
  content: "";
  display: table;
  clear: both;
}

.bot_main_rules{
  height: 100px;
  padding-top: 30px;
}

.bot_rules_left{
  width: 30%;
  padding-left: 50px;
}

.bot_rules_right{
  width: 70%;
}

.img_bot_main{
  height: 27px;
  padding-right: 20px;
}

#big_number{
  font-size: 50px;
  font-weight: bold;
}

.left_bot_bottom{
  margin-top: 50px;
  width: 30%;
}

.img_wom{
  width: 300px;
  margin-left: 440px;
  padding-bottom: 30px;
}

.bot_bottom:after{
  content: "";
  display: table;
  clear: both;
}

.left_bot_bottom > div{
  margin-top: 40px;
  font-size: 0.6em;
}

.left_bot_bottom > h3, p{
  margin-bottom: 20px;
}

/* footer */
.footer_container{
  position: relative;
  top: 0;
  width: 100vw;
  min-width: 1400px;
  background-color: #33475b;
}

.footer_content{
  position: relative;
  top: 0px;
  width: 70%;
  background-color: #33475b;
  margin: auto;
  color: #DADEE0;
}

.square{
  width: 25%;
  padding-top: 30px;
}

.square > div{
  padding: 5px;
}

.strong{
  font-weight: bold;
  padding-bottom: 20px;
  color: white;
}

.contact{
  background-color: #DADEE0;
  color: #33475b;
  border: 1px solid;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.icon_footer{
  width: 80%;
  text-align: center;
}

.languages{
  text-align: center;
  padding-top: 310px;
}

.footer_container{
  content: "";
  display: table;
  clear: both;
}

.lg_foot{
  width: 70%;
}

.privacy{
  height: 100px;
  line-height:50px;
}

.copyright{
  color: white;
}
